@font-face {
    font-family: 'Press Start 2P';
    src: url('public/fonts/press_start_2p/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VT323';
    src: url('public/fonts/vt323/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
   color: #fff;
   background-color: #000;
}

.snowflake {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  animation: fall 3s linear infinite;
  z-index: 9;
  filter: blur(2px);
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

