<!DOCTYPE html>

<!-- REPLACEME-HEAD -->

  <body>
    <link rel="stylesheet" href="BLOG_CSS">
<!-- REPLACEME-NAVBAR -->

    <div class="page-content">
      <div class="container" style="font-family: 'VT323'">
        <div class="row justify-content-center">
          <div class="col-lg-6 fs-3 text-center"> <!-- Use col-lg-4 for 33% width on large screens -->
            <hr/>
            <h3> You have landed at: </h3>
            <i> <h2 style="font-family: 'Press Start 2P'; text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);" id="titleMainPage" class="unselectable"> My Blog! </h2> </i>
            <hr/>
            <p> Anything that runs in my head that I want to pen (type) down can be found here! </p>
            <hr/>
          </div>
        </div>
      </div>

      <div class="container" style="font-family: 'VT323'">
          <div class="row justify-content-center">
            <div class="col-lg-6 fs-3 text-center"> <!-- Use col-lg-4 for 33% width on large screens -->
              <h3> Site under construction! </h3>
              <img src="UNDER_CONSTRUCTION_GIF" style="max-width: 100%; max-height: 100%; object-fit: contain;"><img/>
            </div>
          </div>
        </div>

<div class="container blog-content">
<!-- REPLACEME-BLOG -->
</div>

    </div>

<!-- REPLACEME-FOOTER -->
  </body>
</html>

