<!DOCTYPE html>

<!-- REPLACEME-HEAD -->

  <body>
    <link rel="stylesheet" href="COOL_LINKS_CSS">
<!-- REPLACEME-NAVBAR -->

    <div class="page-content">
      <div class="container" style="font-family: 'VT323'">
        <div class="row justify-content-center">
          <div class="col-lg-6 fs-3 text-center"> <!-- Use col-lg-4 for 33% width on large screens -->
            <hr/>
            <h3> You have landed at: </h3>
            <i> <h2 style="font-family: 'Press Start 2P'; text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);" id="titleMainPage" class="unselectable"> Cool Links! </h2> </i>
            <hr/>
            <p> A collection of cool stuff related to Computer Science, Technology, Engineering, Humanities and more! </p>
            <p> I have tried to organize them into different sections to make search easier. If you have any suggestions or improvements let me know over at the Github repository.</p>
            <p> The Markdown version of the links can be found <a href="COOL_LINKS_MD">here</a>.
          </div>
        </div>
      </div>

      <hr/>

<div class="container cool-links-content">
<!-- REPLACEME-COOL-LINKS -->
</div>

      <hr/>
    </div>

<!-- REPLACEME-FOOTER -->
  </body>
</html>

