<!DOCTYPE html>

<!-- REPLACEME-HEAD -->

  <body>
<!-- REPLACEME-NAVBAR -->

    <div class="page-content">
      <div class="container" style="font-family: 'VT323'">
        <div class="row justify-content-center">
          <div class="col-lg-6 fs-3 text-center"> <!-- Use col-lg-4 for 33% width on large screens -->
            <hr/>
            <h3> Welcome to </h3>
            <h2 style="font-family: 'Press Start 2P'; text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);" id="titleMainPage" class="unselectable"> GitGudBruhh's Collections! </h2>
            <hr/>
            <p> What will you find here? Well I honestly cannot pinpoint anything specific. </p>
            <p> Blogs, resources, books, articles, research papers, games (and maybe even how to get them if you know what I mean *wink*) ... really anything that I find "cool" enough to share with you strangers over the internet.</p>
            <p> Much of the content that you find here will be related to my own interests. Feel free to reach out if you would like something to be added here.</p>
            <p> Sit back, grab a cup of coffee, surf and enjoy!</p>
          </div>
        </div>
      </div>
    </div>

<!-- REPLACEME-FOOTER -->
  </body>
</html>

