    <footer style="font-family: 'VT323'" class="text-center gradient-footer fs-5 p-lg-1">
      <div class="row align-items-center">

        <div class="p-3 col-md-4 text-center">
          <div>Made by: GitGudBruhh</div>
          <div><a href="https://github.com/GitGudBruhh">Find me on Github</a></div>
          <div><a href="https://github.com/GitGudBruhh/gitgudbruhh.github.io">Website Source</a></div>
        </div>

        <div class="p-3 col-md-4 text-center">
          Copyright: (C) GitGudBruhh 2026 <br>
          The author has licensed this <br>
          project under the MIT License.
        </div>

        <div class="p-3 col-md-4 text-center">
          Feel free to use, modify, and <br>
          distribute this work. <br>
        </div>
      </div>
    </footer>